<!-- Loop over each object in the opportunities array -->
{{#each opportunities as |opportunity| }}
<div class="row mb-8 opportunity">
  <div class="col-md-4">
    <h2>
      <a href="/opportunity/{{opportunity.id}}">{{opportunity.name}}</a>
    </h2>
    <p>
       <span class="volunteers-needed">{{volunteers_needed}}</span>
       volunteers needed!
    </p>

        <h4>
          {{opportunity.description}}
        </h4>
        <h6>
          <span class='volunteers-needed'>
            {{volunteers_needed}}
          </span>
          volunteers needed!
        </h6>

        <p>
          Created by {{opportunity.user.name}}
        </p>
      </tr>
    </div>


<hr/>
      <div class='col-md-4'>
 
        <figure class='figure'>
          <img
            class='figure-img img-fluid rounded center'
            src="{{opportunity.photo}}"
            alt="{{opportunity.photo.alt}}"
            width='200px'
          />
        </figure>
      </div>
    </div>

    <div class="col-md-8">
      <p>
        {{opportunity.description}}
      </p>
    </div>
</div>
{{/each}}

