<!-- Loop over each object in the projects array -->
{{#each opportunities as |opportunity| }}
<div class="row mb-4 opportunity">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/opportunity/{{opportunity.id}}">{{opportunity.name}}</a>
    </h2>
    <p>
    </p>
    <p>Created by {{opportunity.user.name}} on {{format_date opportunity.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{opportunity.description}}
    </p>
  </div>
</div>
{{/each}}
