
<div class="text-center">
  <h2>{{name}}</h2>
  <h3>Hosted by {{organization_name}} on {{date_of_opp}} in {{location}}</h3>
  <p>{{description}}</p>
  <p>Volunteers can bring the following items: {{items}}</p>
  <span class="volunteers-needed">{{volunteers_needed}}</span>needed
  <p>Created by {{user.name}}</p>
  <p>
    <button class='btn btn-primary'>
      Join this opportunity!
    </button>
  </p>
</div>