
<div class="text-center">
  <h1>{{name}}</h1>
    {{!-- <p>Created by {{user.name}}</p> --}}
  <h3>Hosted by {{organization_name}} on {{date_of_opp}} in {{location}}</h3>
  <p>{{description}}</p>
  <p>Volunteers can bring the following items: {{items}}</p>
  <p>
  <span class="volunteers-needed">{{volunteers_needed}}</span>
  volunteers needed
  </p>
  <p>
    <button class='btn btn-primary'>
      Join this opportunity!
    </button>
  </p>
</div>